body{
   background-image: url("background.png");
   background-repeat: no-repeat; 
   background-size: cover;
   display: flex; 
   flex-direction: column;
   align-items: center;
   padding:0;
   margin:0;
}
.header{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width:100%;
   height: 50px;
   padding: 10px;
}
.sub-header{
   background-color: #ffffff;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 985px;
}
.nav-header{
   display:flex;
   flex-direction: row-reverse;
   text-align: center;
   background-color:#ffffff;
   margin-top: 20px;
}
.nav-header-list-items{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.nav-item{
   display: inline-block;
   font-family: Arial;
   font-size: 12px;
   color:grey;
   background-color: #ffffff;
}
.nav-item a::after,.checkout::after{
   content:"   |";
   padding: 10px;
}
.nav-item:last-child ::after{
   content:"";
}
.icon-cart{
   width:13px;
   height:12px;
}
.checkout{
   color:#43455d;
   margin-top: 3px;
   display: inline-block;
   margin-left: 2px;
}
.nav-bar{
   background-color: #dad8d9;
   display:flex;
   flex-direction: row;
   justify-content: center;
   position: relative;
   width:100%;
   border: 1px solid #dad8d9;
}
.nav-bar::before{
   content: "";
   border:1px solid white;
   position:absolute;
   left:0px;
   top:1px;
   right: 0px;
   bottom: 1px;
   box-sizing:border-box;
   z-index:2;
}
.sub-nav-bar{
   background-color: #dad8d9;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 985px;
}
.nav-bar-list-items{
   list-style-type: none;
   padding: 0;
   margin:2px;
   width:100%;
}
.item {
   display: inline-block;
   border-right: 1px solid #e3e3e3;
   position: relative;
 }
.dining{
   padding-left: 0;
}
.item a {
   display: block;
   padding: 8px;
   font-family: Arial;
   text-align: center;
   font-size: 15px;
   color:black;
   top:20px;
   background-color: #dad8d9;
}
.item:last-child {
   border-right: none;
}
.button{
   border-color: #dad8d9;
   border-radius: 7px;
   border-style:groove;
   border-width: 2px;
}
.search-bar{
   color:#dad8d9;
   border-style: inset;
   border-color: white;
}
.menu-bar{
   background-color: #ffffff;
   display:flex;
   flex-direction: row;
   justify-content: center;
   width:100%;
   border: 1px solid #dad8d9;
}
.menu{
   background-color: #ffffff;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 985px;
}
.menu-list-items{
   list-style-type: none;
   padding-left: 5px;
   margin:2px;
}
.list{
   display: inline-block;
   position: relative;
   font-family: Arial;
   color:rgb(8, 8, 102);
}
.menu-item::before{
   content: "\2218";
   padding:10px;
}
.right-item{
   padding-right:50px;
   font-family: Arial;
   display: flex;
   align-items: center;
   color:rgb(8, 8, 102);
}
.container{
   background-color: white;
   display: flex;
   flex-direction: row;
   width:985px;
   height:420px;
   align-items: center;
}
.image{
   width: 680px;
   height:405px;
   padding: 7px;
   padding-bottom: 2px;
}
.section{
   background-color: #333230;
   width: 274px;
   height:397px;
   position: relative;
   padding: 5px;
   padding-bottom: 2px;
   border: 5px #4a4947;
}
.section::before{
   content: "";
   border:1px solid #474644;
   position:absolute;
   left:10px;
   top:10px;
   right: 10px;
   bottom: 10px;
   box-sizing:border-box;
}
.heading{
   font-size: 25px;
   color:#fffeff;
   font-family: Arial;
   width: 200px;
   text-align: center;
   margin-top: 35px;
   padding-left:34px ;
   padding-bottom: 5px;
}
.content{
   font-size: 13px;
   color: #999798;
   font-family: Arial;
   text-align: left;
   justify-content: center;
   line-height:25px;
   margin-top: 5px;
   width:190px;
   padding-left: 45px;
}
.bottom-content a{
   font-size: 11px;
   color: #999798;
   font-family: Arial;
   text-align: left;
   margin-top: 5px;
   width:190px;
   margin-left: 40px;
}
.section-list{
   list-style-type: none;
   width: 200px;
}
.section-list-item{
   text-align: left;
   border-bottom:1px solid #4D4C4A;
   color:#FFFEFC;
   font-family: Arial;
   font-size: 15px;
   padding: 5px;
}
.section-list-item:last-child{
   border-bottom: none;
}
.bottom-container{
   background-color: #2f2d2e;
   display: flex;
   flex-direction: row;
   font-family: "Gadugi";
   justify-content: space-between;
   width: 970px;
   border-style:solid;
   border-width: 8px;
   border-color: #333230;
}
.bottom-item{
   width: 400px;
   height: 200px;
   position: relative;
   background-color: white;
   padding-left: 8px;
}
.bottom-item::after{
   border-right:1px solid #E1E1E1;
   position: absolute;
   top:10px;
   bottom:10px;
   right:0;
   content: "";
   z-index: 5;
}
.bottom-item:last-child::after{
   border-right: none;
}
.line1{
   position: relative;
   color:#282828;
   padding-left:10px;
   font-size: 17px;
   z-index: 2;
}
.line2{
   position: relative;
   color:#878787;
   margin-top: 0;
   padding-left: 10px;
   font-size: 12px;
   z-index: 2;
}
.line3{
   position: relative;
   left: 150px;
   font-size: 13px;
   text-decoration: none;
   padding-left: 10px;
   z-index: 2;
   color:#3B4A6B;
}
.line3-1{
   position: relative;
   font-size: 13px;
   z-index: 2;
   padding-left: 10px;
   text-decoration: none;
   color:#3B4A6B;
}
.img1{
   position: relative;
   bottom: 75px;
}
.img2{
   position:relative;
   bottom: 40px;
}
.img3{
   position: relative;
   bottom: 135px;
   left: 120px;
}
.footer-section{
   display: flex;
   flex-direction:row;
   width:985px;
   padding: 5px;
}
.footer-left-item{
   width:640px;
}
.top-left-list{
   list-style-type: none;
   padding: 0;
   margin:2px;
   display: flex;
   flex-direction: row;
   align-items: center;
}
.top-left-list-item{
   display: inline-block;
   position: relative;
}
.top-left-list-item a{
   color:#91918F;
   font-family: "Gadugi";
   font-size: 13px;
}
.top-left-list-item ::after{
   content:"|";
   padding: 7px;
}
.top-left-list-item:last-child ::after{
   content:"";
}
.top-right-item{
   color:#91918F;
   font-family: "Gadugi";
   font-size: 13px;
   display: flex;
   flex-direction: row-reverse !important;
   align-items: center;
   text-align: right;
}
.middle-left-item{
   display: flex;
   flex-direction: row;
   align-items: center;
   color:#91918F;
   font-family: "Gadugi";
   font-size: 13px;
}
.middle-right-item{
   padding-top:10px;
}
.email{
   color:#91918F;
   font-family: "Gadugi";
   font-size: 13px;
   padding:4px;
}
.bottom-footer-item{
   color:#91918F;
   font-family: "Gadugi";
   font-size: 13px;
   padding:5px;
   padding-left: 0;
   padding-top: 0;
   margin:0;
}
.email-bar{
   color:#666666;
   font-size: 13px;
} 
.signup-button{
   border-color: #dad8d9;
   border-radius: 5px;
   border-style:groove;
   border-width: 2px;
}